ServerName 10.100.10.43:80

LoadFile "C:/Users/adminibl/AppData/Local/Programs/Python/Python312/python312.dll"
LoadModule wsgi_module "C:/Users/adminibl/AppData/Local/Programs/Python/Python312/Lib/site-packages/mod_wsgi/server/mod_wsgi.cp312-win_amd64.pyd"
WSGIPythonHome "C:/Users/adminibl/AppData/Local/Programs/Python/Python312"
WSGIScriptAlias / "C:/Users/adminibl/Documents/Rwacof/cherry_app_backend/main/wsgi.py"
WSGIPythonPath "C:/Users/adminibl/Documents/Rwacof/cherry_app_backend/"


<Directory "C:/Users/adminibl/Documents/Rwacof/cherry_app_backend">
   <Files wsgi.py>
    Require all granted
   </Files>
</Directory>

Alias /static "C:/Users/adminibl/Documents/Rwacof/cherry_app_backend/staticfiles/"
<Directory "C:/Users/adminibl/Documents/Rwacof/cherry_app_backend/staticfiles/">
    Require all granted
   
</Directory>